<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CrurchParish.Properties.Settings.Church_ParishConnectionString"
            connectionString="Data Source=DESKTOP-6I2S2G0\SQLEXPRESS;Initial Catalog=&quot;Church Parish&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CrurchParish.Properties.Settings.ChurchParishV2ConnectionString"
            connectionString="Data Source=DESKTOP-6I2S2G0\SQLEXPRESS;Initial Catalog=ChurchParishV2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>